/writable/debugbar
/writable/session
/writable/logs
COM3
app/Libraries/afip/
/writable/FacturacionARCA


writable/facturacionARCA/TA.xml
/writable/facturacionARCA
/path/to/temp/folder
/writable/facturacionARCA
/writable/facturacionARCA
