/* estilos footer */
:root {
    --PrimaryColor: #560319; /* Borgoña oscuro */
    --HoverColor: hsl(330, 28%, 17%); /* Un tono más oscuro para el hover */
    --WhiteColor: #ffffff; /* Blanco */
    --BlackColor: #000000; /* Negro */
    --TextColor: hsl(0, 0%, 45%); /* Un tono más oscuro para el texto */
    --WhiteColorDim: hsl(0, 0%, 93%); /* Blanco ligeramente atenuado */
    --GreyBg: hsl(0, 0%, 94%); /* Un gris claro para el fondo */
    --GreyText: hsl(0, 0%, 75%); /* Un gris más oscuro para el texto secundario */
    --InputColor: hsl(0, 0%, 97%); /* Un blanco ligeramente azulado para campos de entrada */
}

.footer {
    height: 30vh; /* Altura del footer */
    background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)), url(../img/Muli2.webp);
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen dentro del contenedor */
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
    padding: 0.3rem 0;
    margin-bottom: 0%;
}

.secContainer{
        gap: 1.5rem;
        justify-content: center;
        text-align: center;
        align-items: center;
}
        
.footerLogo{
    padding-bottom: .5rem;    
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}    
.logo{
    font-size: 50px;
}
img{
    width: 200px; /* Tamaño deseado */
    height: auto; /* Mantener proporciones */
    margin-right: 10px; /* Ajustar margen derecho según sea necesario */
}
.socials{
    gap: .5rem;
    margin: auto;
    justify-content: center;
}
.icon{
    font-size: 30px;   
    background: var(--PrimaryColor);
    border-radius: 60%;
    padding: 8px;
    color: var(--WhiteColor);
}
.icon:hover{
    background: var(--BlackColor);
}
.footerLinks{
    display: grid;
    row-gap: .2rem;
   
}

span{
    color: #ffffff;
}

.linkTitle{
    padding-bottom: .5rem;
    color: var(--BlackColor);
    font-weight: 700;
}
li:hover{
    transform: translateX(10px);
}
li a {
    color: var(--PrimaryColor);
}

a, .phone, .email{
    color: var(--TextColor);
    font-size: 13px;
    font-weight: 500;
}
        
.footer-image-container {
    width: 100%; /* Abarca todo el ancho del contenedor */
    height: 100%; /* Abarca todo el alto del contenedor */
    overflow: hidden; /* Evita que el contenido sobresalga */
    display: flex; /* Asegura que el contenido se alinee correctamente */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
}

.footer-image-container img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
}

