.low-stock-ring {
  color: rgb(255, 0, 0); /* Color del texto */
  border: 2px solid rgb(255, 81, 0); /* Borde del anillo */
  padding: 5px 10px;
  border-radius: 50%; /* Hace que sea un círculo */
  display: inline-block;
  min-width: 40px; /* Asegura que sea uniforme */
  text-align: center;
  font-weight: bold;
  background-color: transparent; /* Fondo transparente */
  box-shadow: 0 0 8px rgba(255, 81, 0, 0.8); /* Efecto de brillo */
}
